.App {
  width: 100vw;
}

@media (min-width:1024px){

  .App main{
    display: flex;
    gap: 30px;
    width: 90%;
    max-width: 1560px;
    margin: 0 auto;
    justify-content: space-between;
  }

  
}